@use "../_variables.scss" as *;
@use "../mixins.scss" as *;
@use "sass:map";
@use "sass:color";

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
//   background-color: #f5f5f5;
}

.project-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
//   background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project-info {
  padding: 20px;
}

.project-info h2 {
  font-size: 24px;
  font-weight: bold;
}

.project-info h3 {
  font-size: 20px;
  color: gray;
}

.project-info ul {
  list-style: disc;
  padding-left: 20px;
}

.project-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.project-links a {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.project-links a:hover {
  background-color: #0056b3;
}

.section-wrapper {
    width: 100%;
    height: 100%;
}