.main-section {
    // height: 900px;
    padding-top: 70px;
    padding-bottom: 50px;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 36pt;
  }
  
  .section-wrapper {
    width: 1280px;
    margin: 0 auto;
  }