@use "sass:map";
// Pretendard 폰트 추가 (Google Fonts에서 제공하지 않으므로 CDN 사용)
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.8/dist/web/static/pretendard.css");

// 색상 변수
$colors: (
    primary-color: #3498db,
    secondary-color: #2ecc71,
    text-color: #333,
    bg-color: #f4f4f4
);

// 폰트 설정
$font-stack: "Pretendard", sans-serif;