@use "./styles/global";


#root {
  width: 100%;
  height: 100%;
}

.app {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 68.4px;
}

.app::-webkit-scrollbar {
  display: none;
}

main {
  flex-grow: 1;
  width: 100%;
}

.main-section {
  background-color: pink;
  height: 900px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.section-wrapper {
  background-color: burlywood;
  width: 1280px;
  margin: 0 auto;
}
